/*reset*/
body{ background-color: #ffffff;}
body, ul, li, div, section, ol, dl, dt, dd, p, h1, h2, h3, h4, h5, h6, header, footer{
  margin: 0; padding: 0;
  font-family: '맑은 고딕';
  font-size: 16px;
  color: #666666;
  line-height: 2;
  letter-spacing: -1px;
}

ul, li, dl, dt, dd, li {
  list-style: none;
}
a{ color: #666666; text-decoration: none; }
a:hover{ color:#009688}
img{border:none;}
/*보조 칼라 #6a6a6a */

/* common(공통클래스) */
.container{ width:1200px; margin: 0 auto;}
.clear:after{ content: ""; display: block; clear:both}
.rel{ position: relative;}
.abs{ position: absolute;}
.fix{ position: fixed;}
.fl{float: left;}
.fr{float: right;}
.disB{ display: block;}
.disN{ display: none;}
.disIB{ display: inline-block;}

/* 애니메이션불가 display 값 auto인 것 --> keyframes도 안된다는 뜻 */

/*imspector(검수용 스타일은 스타일을 아주 구체적으로 + !important 까지 무조건 넣어주기)*/
.red{border-bottom:red 1px solid !important; }

/*레이아웃*/
header#hd{ padding: 15px 0;}
  /*프로 흉내내기!!*/
#hd a, #hd img{display: block}
#gnb > li{
  /* background: green;  */
  height: 46px;}
#gnb > li > a{font-size: 18px;
font-weight: bold; line-height: 46px; padding-left:2em;
padding-bottom: 15px;
/* background: yellow; */
}
#gnb .d2{
  background-color: black; top:calc(100% + 15px); left:15px; padding:0 15px; width:100px;
  height: 0; transition: 0.5s; overflow: hidden;
}
#gnb .d2 a {font-size: 0.9em; line-height: 1.5;  color:white;}
#gnb .d2:before{ content: ""; display: block; height: 15px;}

#gnb li:nth-child(1) .d2{ left:30px;}
#gnb li:nth-child(4) .d2{ width:70px}

/* 마우스가 올라간 대메뉴 li 속 소메뉴 .d2의 높이가 120이 되라 */
#gnb > li:hover .d2{display: block; height: 120px;}
/* 마우스가 올라간 대메뉴 li 속 대메뉴 a의 색상 처리 */
#gnb > li:hover > a{color:#009688}

section#main{}
footer#fd{}
